 

body{
    background-image: 
    linear-gradient(45deg, rgba(
      145, 146, 122, 0.62), rgba(
        217, 91, 132, 0.58));
}


.money-Manage-img{
   width: 100%;
   display: flex;
   border-radius: 10px;
   
    
   
}
.money-mange-input{
   width: 100px;
}
.input-container{
    border-radius: 15px;
    padding: 20px;
    background-color: khaki;
}
.validation{
    color: red;
    font-size: 30px;
    margin: 25px 0;
    font-family: monospace;
    display: none;
    
}



/* Responsivenes for tablet */
@media only screen and (max-width: 800px) {

    .Money-manage-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .Money-mange-img{
        width: 100%;
        margin-top: 20px;
        overflow: hidden;
    }
    .input-container{
       margin: 20px auto;
       margin: 20px;
    }
  
   
  } 

  /* Responsiveness for mobile */
  @media (min-width: 300px) and (max-width: 600px) { 
    .Money-manage-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .Money-mange-img{
        width: 100%;
        margin-top: 20px;
        
    }
    .input-container{
      margin: 20px auto;
   
    }
  
   
  }
   